node_modules
.source
.next
.docusaurus
build
out
coverage
*.tsbuildinfo
.DS_Store
.env*.local
.vercel
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
output/playwright
.playwright-cli
